In [6]:
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

(1, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(2, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(3, 'Mahmoud', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(4, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(5, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(6, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')
(7, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(8, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')