In [25]:
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [74]:
mydb = mysql.connector.connect(
    host="localhost", user="root", password="mahmoud2001", database="employee_managment_system"
)
mycursor = mydb.cursor(buffered=True)

In [75]:
mycursor.execute(
    "SELECT emp_id,fname,lname,location,phone1,sex,email,pass FROM employee "
)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'qqq', 'Doe', 'London', '0123456789', 'M', 'john.doe@gmail.com', '456')
(2, 'eee', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(3, 'Mahmoud', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(4, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(5, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(7, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(8, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')
(9, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(10, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(11, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(12, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(13, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(14, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(16, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(17, 'John', 'Doe', 'London', '0123456789', 'M', 'john.doe@gmail.com', '456')
(18, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(19, 'John', 'Doe', 'London', '0123456789', 'M', 'john.doe@gmail.com', '456')

In [17]:
sql = "INSERT INTO employee (fname,lname,location,phone1,sex,email,pass) VALUES (%s,%s,%s,%s,%s,%s,%s)"

val = [
    ("Ibrahim", "Mohamed", "new Cairo", "01216545645", "M", "ibrahim@gmail.com", "123"),
    ("Menna", "Mohamed", "new Cairo", "01216545645", "F", "Menna@gmail.com", "123"),
]

mycursor.executemany(sql, val)
mydb.commit()

In [55]:
mycursor.execute(
    "SELECT emp_id,fname,lname,location,phone1,sex,email,pass FROM employee "
)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(2, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(3, 'Mahmoud', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(4, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(5, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(6, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')
(7, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(8, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')
(9, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(10, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(11, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(12, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(13, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(14, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(15, 'John', 'Doe', 'London', '0123456789', 'M', 'john.doe@gmail.com', '456')
(16, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(17, 'John', 'Doe', 'London', '0123456789', 'M', 'john.doe@gmail.com', '456')
(18, 'Zidan', 'Mohamed', 'New Cairo', '01065216622', 'M', 'zidan@gmail.com', '123')
(19, 'John', 'Doe', 'London', '0123456789', 'M', 'john.doe@gmail.com', '456')

In [51]:
class Employee:
    def __init__(
        self,
        emp_id=None,
        fname=None,
        lname=None,
        location=None,
        phone1=None,
        sex=None,
        email=None,
        password=None,
    ):
        self.emp_id = emp_id
        self.fname = fname
        self.lname = lname
        self.location = location
        self.phone1 = phone1
        self.sex = sex
        self.email = email
        self.password = password

    def update_emp(self, emp):
        query = "UPDATE employee SET fname=%s WHERE emp_id = %s"
        values = (emp.fname, emp.emp_id)

        self.cursor.execute(query, values)
        self.connection.commit()
        print(emp.emp_id)
        print(self.cursor.rowcount, "record(s) affected")

In [52]:
emp1 = Employee(
    2, "Zidan", "Mohamed", "New Cairo", "01065216622", "M", "zidan@gmail.com", "123"
)
emp1.update_emp(emp1)

AttributeError: 'list' object has no attribute 'execute'

In [24]:
def total_fruits(*args,**kwargs):
    print(list(kwargs.keys()))
    print(tuple(kwargs.values()))
    print(kwargs, type(kwargs))


total_fruits(fname=5, lname=7, apple=8)

['fname', 'lname', 'apple']
(5, 7, 8)
{'fname': 5, 'lname': 7, 'apple': 8} <class 'dict'>