In [1]:
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
    host="localhost", user="root", password="mahmoud2001", database="employee_managment_system"
)
mycursor = mydb.cursor(buffered=True)

In [3]:
mycursor.execute(
    "SELECT emp_id,fname,lname,location,phone1,sex,email,pass FROM employee "
)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(2, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(3, 'Mahmoud', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(4, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(5, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(6, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')
(7, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(8, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')

In [17]:
sql = "INSERT INTO employee (fname,lname,location,phone1,sex,email,pass) VALUES (%s,%s,%s,%s,%s,%s,%s)"

val = [
    ("Ibrahim", "Mohamed", "new Cairo", "01216545645", "M", "ibrahim@gmail.com", "123"),
    ("Menna", "Mohamed", "new Cairo", "01216545645", "F", "Menna@gmail.com", "123"),
]

mycursor.executemany(sql, val)
mydb.commit()

In [20]:
mycursor.execute(
    "SELECT emp_id,fname,lname,location,phone1,sex,email,pass FROM employee "
)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(2, 'Ahmed', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(3, 'Mahmoud', 'Khaled', 'Mukkattam', '01065216442', 'M', 'mahmoud@gmail.com', '1234')
(4, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(5, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(6, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')
(7, 'Ibrahim', 'Mohamed', 'new Cairo', '01216545645', 'M', 'ibrahim@gmail.com', '123')
(8, 'Menna', 'Mohamed', 'new Cairo', '01216545645', 'F', 'Menna@gmail.com', '123')

In [4]:
import Dao

ModuleNotFoundError: No module named 'Dao'